In [ ]:
print("hello")

hello

In [4]:
x=10
def incre():
  global x
  x=x+1
  print(x)
incre()
incre()

11
12

In [5]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print (type(multiplier_factory))
print (type(multiply_by_5))
print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

<class 'function'>
<class 'function'>
8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [8]:
def addmul(*a):
  sum = 0
  for i in a:
    sum = sum+i
  return sum
sum = addmul(10,12,14)
print(sum)

36

In [ ]:
l= [12,12.3,"abc"]
al = ["list",l]

l.remove(12.3)
print (al)

['list', [12, 'abc']]

In [16]:
aaa = lambda x,y:x+y
print (type(aaa(10,20)))
print (aaa(10,20))

<class 'int'>
30

In [18]:
area = lambda r : 3.14*r*r
print (area(r=10))

314.0

In [ ]:
s = int(input ("Enter a string"))
i = 1
while (i<11):
  print(s,"*",i,"=",s*i)
  i=i+1

Enter a string6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
fs = "bangalore"
for i in fs[::2]:
  print(i,s)

b 6
n 6
a 6
o 6
e 6

In [ ]:
s1= "I live in Mumbai, Mumbai is a beutiful place"
c = s1.split(" ")
print(tuple(c))
print(type(tuple(c)))

('I', 'live', 'in', 'Mumbai,', 'Mumbai', 'is', 'a', 'beutiful', 'place')
<class 'tuple'>

In [ ]:
l1 = [10,20,30]
i = 0
while i <5 :
  a = input ("Enter")
  l1.append(a)
  i = i+1
print (l1)3

Enter1
Enter33
Enter55
Enter3
Enter22
[10, 20, 30, '1', '33', '55', '3', '22']

In [ ]:
l2 = [10,20,10,30,20,40,10,40]
se = set(l2)
l2 = list(se).sort
print ("set",se)
print ("set",se)
l3 = []
count = []
for i in l2:
  if i not in l3:
    l3.append(i)
    count.append(1)
  else:
    ind = l3.index(i)
    count[ind]=count[ind]+1

print (l3)
print (count)

set {40, 10, 20, 30}
[10, 20, 30, 40]
[3, 2, 1, 2]

In [ ]:
l2 = [10,20,10,30,20,40,10,40]
print ("list1",l2)
se = set(l2)
l2 = list(se)

print ("set",se)
print ("list2",l2)

list1 [10, 20, 10, 30, 20, 40, 10, 40]
set {40, 10, 20, 30}
list2 [40, 10, 20, 30]

In [ ]:
s3= set([1])
print (s3)

{1}

In [ ]:
def f1(a):
  print("number is",a)
  return 8
a = f1(input("Enter"))
print(a)

Enter6
number is 6
8

In [ ]:
st = " I aa dd aa ff tt ss aa dd "
ls = st.strip().split()
print (ls)
d = {}
for i in ls:
  d.update({i:ls.count(i)})
print (d)

['I', 'aa', 'dd', 'aa', 'ff', 'tt', 'ss', 'aa', 'dd']
{'I': 1, 'aa': 3, 'dd': 2, 'ff': 1, 'tt': 1, 'ss': 1}