In [ ]:
print("Hello World")

In [ ]:
# class varibale inheritance

# Parent class with a class variable
class Parent:
  parent_class_variable = "I am a parent class variable"

  def __init__(self, name):
    self.name = name

  def display_parent_variable(self):
    print(f"From Parent instance {self.name}: {Parent.parent_class_variable}")

# Child class inheriting from Parent
class Child(Parent):
  child_class_variable = "I am a child class variable"

  def __init__(self, name, age):
    super().__init__(name) # Initialize the parent class
    self.age = age

  def display_variables(self):
    print(f"From Child instance {self.name}:")
    print(f"  Parent class variable: {self.parent_class_variable}") # Accessing inherited class variable
    print(f"  Child class variable: {self.child_class_variable}") # Accessing child class variable

# Create an instance of the Child class
child_instance = Child("Alice", 10)

# Access and display the inherited class variable
print("Accessing class variables:")
print(f"From Parent class: {Parent.parent_class_variable}")
print(f"From Child class (accessing inherited): {Child.parent_class_variable}")
print(f"From Child instance (accessing inherited): {child_instance.parent_class_variable}")
print(f"From Child class: {Child.child_class_variable}")

# Use the method to display the variables
child_instance.display_variables()

# Create a Parent instance to show the difference
parent_instance = Parent("Bob")
parent_instance.display_parent_variable()
# print(parent_instance.child_class_variable) # This would cause an error

In [6]:
%cd sample_data

[Errno 2] No such file or directory: 'sample_data/my_project'
/content/sample_data

In [7]:
%cd my_project/

/content/sample_data/my_project

In [8]:
%run main.py

Inside my_package

In [3]:
class Human():

  def __init__(self,par1,par2):
    print("Human class constructor")
    self.par1=par1
    self.par2=par2

class Emp(Human):

  def __init__(self,par1,par2,par3,par4):
    super().__init__(par1,par2)
    print("Emp class constructor")
    self.par3=par3
    self.par4=par4


class Manager(Emp):

  def __init__(self,par1,par2,par3,par4,par5,par6):
    super().__init__(par1,par2,par3,par4)
    print("Mnager class constructor")
    self.par5=par5
    self.par6=par6

m1 = Manager(1,2,3,4,5,6)

print(m1.__dict__)

Human class constructor
Emp class constructor
Mnager class constructor
{'par1': 1, 'par2': 2, 'par3': 3, 'par4': 4, 'par5': 5, 'par6': 6}

In [16]:
class Vehicle:
  def __init__(self, model, year):
    self.model = model
    self.year = year


class Car(Vehicle):
  def __init__(self, model, year, num_doors):
    super().__init__( model, year)
    self.num_doors = num_doors
    self.wheels = 4

class Truck(Vehicle):
  def __init__(self, model, year, num_doors):
    super().__init__(model, year)
    self.num_doors = num_doors
    self.wheels = 6


class Honda(Car):
  def __init__(self, model, year, num_doors):
    super().__init__(model, year, num_doors)
    self.brand = "Honda"
    self.wheels = 4

class Toyota(Truck, Car):
  def __init__(self, model, year, num_doors):
    super().__init__(model, year, num_doors)
    self.brand = "Toyota"
    self.wheels = 6

v1 = Toyota("Camry", 2022, 4)
print(v1.__dict__)



v2 = Honda("Civic", 2021, 4)
print(v2.__dict__)

TypeError: Car.__init__() missing 1 required positional argument: 'num_doors'

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

In [ ]:
_ = 10
print(_)

In [ ]:
#day 13

# function calling another fn

def test1():
  print("i am insude test1")
  test2() # fn call
  print("i am back to test1")

def test2():
  print(" I am in test2")
  print("going back")

test1()  # fn call
print("end of program")

In [ ]:
# LOcal Variable- lifetime

def test():
  x=10
  x=x+1
  print(x)

test()
test()
test()

In [ ]:
# LOcal Variable- scope

def test():
  x=10
  x=x+1
  print(x)

test()
#print(x) error
test()
test()

In [ ]:
# global variable

n =10

def fun():
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  n=5   # local varibale
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  global n # global keyword
  n=n+1
  print(n)

def test():
  global n
  n= n+1
  print(n)


fun()
test()
print(n)

In [ ]:
# Function is also an object

def test():
  print("hello wrold")

i =10
print(type(i))

print(type(test))
print(test)

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

In [ ]:
# alias name for a function

def test1():
  print("hello")

a = test1

a()

In [ ]:
# positional args or required ars

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test("Ram",25,"Delhi",)

In [ ]:
# keyword args

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test(age =25 , name ="Ram",city ="Delhi",)

In [ ]:
# keyword args and positional args

def test(name, current_city,city,age):
  print("my name is ", name , " and my age is ", age," and basically from",city,"but currently i live in",current_city)


test("ram","delhi",age = 25, city="Blr")

# positional args ----> keyword args
# keyword args should follow positional ars ,

In [ ]:
# default arguments

def student(name , age , m1,m2,m3 ,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",25,90,80,70)
student("Rose",21,91,86,75,"SSEC")

John 25 90 80 70 UVCE
Rose 21 91 86 75 SSEC

In [ ]:
# positional agrs ----> keyword args -----> Default args

def student(name , age , m1,m2,m3,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",age=21,m1=25,m2=90,m3=80, college= "SS")
student("Rose",21,91,86,75)

In [ ]:
# variable length args
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# variable length positional args
def sum(*a):

  s = 0
  for i in a:
    s = s+i
  print(s)

sum(1,2)
sum(1,2,3)
sum(1,2,3,4)

In [ ]:
# variable length keyword args

def addition(**a):

  s=0
  for n in a.values():
    s= s+n
  print(s)

addition(a=10,b=20)  # values are packed as a dict
addition(a=22,b=33,c=44)

In [ ]:
# variable length positional args and variable length keyword  args

def add(*num,**nums ):
  print(sum(num))
  print(sum(nums.values()))

add(10,20,30,40, n1=100,n2=200,n3=300)

100
600

In [ ]:
#variable length positional args , keyword ars, default agrs

def student(name,clas,*parents_name,age,school= "UVCE",**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  UVCE

In [ ]:
#lambda function return single value

var = lambda x,y,z : x+y+z
print(var(10,20,30))

60

In [ ]:
add =lambda x,y : [x+y , x-y]
print( type(add(2,3)))
print( add(2,3))

<class 'list'>
[5, -1]

In [ ]:
a= lambda: print("hello")
print(a())

hello
None

In [ ]:
# using default agrs
add = lambda x, y=1 : x+y

print(add(4))

5

In [ ]:
# using key word args
add = lambda x, y : x+y
print(add(x=5,y=6))

11

In [ ]:
# using var lenghth args
add = lambda *x: sum(x)
print(add(1,2,3,4,5))

15

In [ ]:
area = lambda r: 3.14*r*r
print(area(5))

78.5

In [ ]:
# class and Objects

class Calculator:


  def __init__(self):  # methods
    self.n1=2
    self.n2=2
    self.res=0

  def add(self):
    print((self.n1+self.n2))

  def sub(self , n1,n2):
    print((n1-n2))

  def mul(self , n1,n2):
    print((n1*n2))

  def div(self , n1,n2):
    print((n1/n2))



ob1 = Calculator() # obj1 creation
ob1.add()
ob1.sub(10,20)
ob1.mul(10,20)
ob1.div(10,20)
ob2 = Calculator() # obj2 creation
ob2.add()
print("aaaaa ",ob2.n1)

4
-10
200
0.5
4
aaaaa  2

In [ ]:
class StudentData:

  def __init__(self):
    self.name = "name"
    self.age = 0
    self.m1 = 0
    self.m2 = 0
    self.m3 = 0
    self.avg = 0

  def displayOutput(self):
    print("Name : ",self.name)
    print("Age : ",self.age)
    print("Marks 1 : ",self.m1)
    print("Marks 2 : ",self.m2)
    print("Marks 3 : ",self.m3)
    print("Average : ",self.avg)

  def getData(self):
    self.name = input("Enter name : ")
    self.age = input("Enter age : ")
    self.m1 = int(input("Enter marks 1 : "))
    self.m2 = int(input("Enter marks 2 : "))
    self.m3 = int(input("Enter marks 3 : "))

  def calculateAvg(self):
    self.avg = int((self.m1+self.m2+self.m3)/3)
    return self.avg

  def compareMarks(self,other):
    if self.avg > other.avg:
      print(self.name," is greater")
    else:
      print(other.name," is greater")

stud1 = StudentData()
stud1.getData()
stud1.calculateAvg()
stud1.displayOutput()
stud2 = StudentData()
stud2.getData()
stud2.calculateAvg()
stud2.displayOutput()
stud1.compareMarks(stud2)

Enter name : aaa
Enter age : 23
Enter marks 1 : 88
Enter marks 2 : 77
Enter marks 3 : 99
Name :  aaa
Age :  23
Marks 1 :  88
Marks 2 :  77
Marks 3 :  99
Average :  88
Enter name : bbb
Enter age : 22
Enter marks 1 : 98
Enter marks 2 : 88
Enter marks 3 : 70
Name :  bbb
Age :  22
Marks 1 :  98
Marks 2 :  88
Marks 3 :  70
Average :  85
aaa  is greater

In [ ]:
class Employee:
  def __init__(self,name,id,salary):
    self.name = name
    self.id = id
    self.salary = salary
    self.bonus = 20
    self.final_salary = 0

  def display(self):
    print("Name : ",self.name)
    print("Id : ",self.id)
    print("Salary : ",self.salary)
    print("bonus : ",self.bonus)
    print("final salary :",self.final_salary)

  def calc_final_salary(self):
    self.final_salary = self.salary + (self.bonus/100)*self.salary
    return self.final_salary

e1 = Employee("AAA",1,10000)
e1.calc_final_salary()
e1.display()
e2 = Employee("BBB",2,10500)
e2.calc_final_salary()
e2.display()

Name :  AAA
Id :  1
Salary :  10000
bonus :  20
final salary : 12000.0
Name :  BBB
Id :  2
Salary :  10500
bonus :  20
final salary : 12600.0